<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        
        <div class="row align-items-end Dashboard-design">
            <div class="col-sm-12 mb-4 pl-3">
                <form action="#" method="post" class="form-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="text">Name :</label>
                                <input type="text" class="form-control" id="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="number">Mobile no:</label>
                                <input type="number" class="form-control" id="number">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="upload-btn-wrapper">
                                    <label for="number">Image url</label>
                                    <button class="btn form-control">Upload a file <i class="fa
                      fa-upload" aria-hidden="true"></i></button>
                                    <input type="file" name="myfile" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="number">Password :</label>
                                <input type="password" class="form-control" id="number">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="number">Confirm Password :</label>
                                <input type="password" class="form-control" id="number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number">Finger number :</label>
                        <input type="number" class="form-control" id="number">
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label custom-check">
                  <input type="checkbox" class="form-check-input" value="">Option
                  1
                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label custom-check">
                  <input type="checkbox" class="form-check-input" value="">Option
                  1
                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label custom-check">
                  <input type="checkbox" class="form-check-input" value="">Option
                  1
                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <textarea class="form-control custom-textarea" id="email" placeholder="type here message.."></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary custom-btn">Update</button>
                    <button type="submit" class="btn btn-primary custom-btn">edit</button>
                </form>

            </div>
        </div>
