.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.upload-btn-wrapper .fa {
    font-size: 22px;
    color: #c7c7c7;
}

.btn {
    height: 50px;
    border: 1px solid #cecccc;
    padding: 8px 20px;
    border-radius: 32px;
    font-size: 20px;
    text-align: left;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.form-group label {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
}

.form-group input {
    height: 50px;
    border: 1px solid #e0dfdf;
    border-radius: 32px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #253444;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0);
}

form.form-section {
    background: #fff;
    padding: 32px;
}

.custom-check {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
}

.custom-textarea {
    height: 120px;
}

.custom-btn {
    background: #253444;
    border: none;
}

.custom-update-btn {
    background: #253444;
    border: none;
    float: right;
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
    border: none;
    box-shadow: 1px 2px 6px 0px #ddd;
}

.thumbnail_image {
    border: 5px solid #f6f6f6;
    border-radius: 4px;
    margin: 2px;
    width: 24%;
    float: left;
}
.dropzone{
    height: auto;
    padding: 1rem;
    border: dashed 1px #979797;
    position: relative;
    width: 100%;
    margin: 20px 0;
}
.dragInput{
    overflow: visible;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
    display: table;
    margin: 0 auto;
}
.dragLabel{
    color: white;
    width: 199px;
    height: 34px;
    border-radius: 21.5px;
    background-color: #8ab1b5;
    padding: 8px 16px;
    display: table;
    margin: 0 auto;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
    text-align: center;
}
/* img{
    position: inherit;
    left: 78px;
} */
.fileover{
    animation: shake 1s;
    animation-iteration-count: infinite;
}
.multipleImages{
    margin: 20px 0;


}
.dropzone img {
    width: 10%;
    display: table;
    margin: 0 auto;
    margin-top: -35px;
}
.filedrop{
    float: right;
}
.filestext{
    font-size: 14px;
    font-weight: 300;
    color: #38424c;
    text-align: center;
}

@keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
  
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
  
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
  
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
  
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
  
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
  
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
  
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
  
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
  
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }